header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 424px;
  border-radius: 15px;
  background-color: var(--blue);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
