.wrapper {
  .header {
    .title {
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.users-table {
  position: relative;
  width: 100%;
  // height: 585px;
  overflow: auto;
}

.page-sizes {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  p {
    font-size: 12px;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--text-gray);
  }
}

.footer {
  margin-top: 14px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300;
  }
}

::ng-deep .ant-table-thead > tr > th {
  background-color: white !important;
}