<div class="wrapper">
  <div class="header">
    <div class="title">Listagem de usuários</div>
    <p>Visualização dos usuários cadastrados.</p>
    <div class="page-sizes">
      <nz-select
        [(ngModel)]="selectedValue"
        (ngModelChange)="handleChanged($event)"
        nzPlaceHolder="Selecione"
      >
        @for (page of PageSizes; track page) {
        <nz-option [nzValue]="page" [nzLabel]="page"></nz-option>
        }
      </nz-select>
      <p>Entradas por página</p>
    </div>
    <nz-table
      [nzShowPagination]="true"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzFrontPagination]="false"
      class="users-table"
      #sortTable
      [nzData]="listUser"
      nzTableLayout="fixed"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          @for (column of listColumn; track column) {
          <th [nzSortFn]="column?.compare">
            {{ column.title }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of sortTable.data; track data) {
        <tr>
          <td>{{ data.email }}</td>
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          @if (data.avatar.length >= 22) {
          <td nz-tooltip nzTooltipTitle="{{ data.avatar }}">
            {{ data.avatar | slice : 0 : 22 }}...
          </td>
          } @else {
          <td>{{ data.avatar }}</td>
          }
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
