<div class="wrapper">
  <div class="header">
    <div class="title">Listagem de usuários</div>
    <p>Visualização dos usuários cadastrados.</p>
    <div class="inputs">
      <!-- Select Page Size -->
      <div class="page-sizes">
        <nz-select
          [nzDisabled]="(isLoading$ | async) && listUser.length === 0"
          [(ngModel)]="selectedValue"
          (ngModelChange)="handleChanged($event)"
          nzPlaceHolder="Selecione"
        >
          @for (page of PageSizes; track page) {
          <nz-option [nzValue]="page" [nzLabel]="page"></nz-option>
          }
        </nz-select>
        <p>Entradas por página</p>
      </div>
      <!-- Field Search -->
      <div class="search">
        <nz-input-group class="field-search">
          <input
            type="text"
            [(ngModel)]="search"
            (ngModelChange)="searchSend$.next(null)"
            nz-input
            placeholder="Pesquise aqui"
          />
        </nz-input-group>
      </div>
    </div>

    <nz-table
      [nzLoading]="isLoading$ | async"
      [nzShowPagination]="false"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzFrontPagination]="false"
      #sortTable
      [nzData]="listUser"
      nzTableLayout="fixed"
      [nzScroll]="{ y: '340px' }"
    >
      <thead>
        <tr>
          @for (column of listColumn; track column) {
          <th [nzSortFn]="column?.compare">
            {{ column.title }}
          </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (data of sortTable.data; track data) {
        <tr>
          <td>{{ data.email }}</td>
          <td>{{ data.first_name }}</td>
          <td>{{ data.last_name }}</td>
          @if (data.avatar.length >= 22) {
          <td nz-tooltip nzTooltipTitle="{{ data.avatar }}">
            {{ data.avatar | slice : 0 : 22 }}...
          </td>
          } @else {
          <td>{{ data.avatar }}</td>
          }
        </tr>
        }
      </tbody>
    </nz-table>
    <div class="footer">
      @if ((isLoading$ | async) || this.listUser.length > 0) {
      <span> Mostrando 1 a {{ pageSize }} de {{ total }} entradas </span>

      <app-pagination
        [page]="pageIndex"
        [total]="total"
        (pageChange)="pageChanged($event)"
      ></app-pagination>
      }
    </div>
  </div>
</div>
