<nz-layout class="app-layout">
  <div class="background-blue">
  </div>
  @if (isLoggedId()) {
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="289px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <app-sidebar></app-sidebar>
  </nz-sider>
  }
  <nz-layout>
    @if (isLoggedId()) {
    <nz-header>
      <app-header></app-header>
    </nz-header>
    }
    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>
