<section class="sidebar">
  <article class="card">
    <article class="title">
      <h1>{{ cardTitle }}</h1>
    </article>

    <hr>

    <article class="menu">
      <menu>
        <article>
          <a href="#">
            <li>
              <div>
                <ng-icon
                  class="bootstrap-buildings"
                  name="bootstrapBuildings"
                  size="18px">
                </ng-icon>

                Dashboard
              </div>

              <ng-icon
                class="bootstrap-chevron-down"
                name="bootstrapChevronDown"
                size="18px">
              </ng-icon>
            </li>
          </a>
        </article>

        <article>
          <h3>Gerenciar</h3>
        </article>

        <article>
          <a href="#">
            <li>
              <div>
                <ng-icon
                  class="bootstrap-front"
                  name="bootstrapFront"
                  size="18px">
                </ng-icon>

                Usuários
              </div>

              <ng-icon
                class="bootstrap-chevron-down"
                name="bootstrapChevronDown"
                size="18px">
              </ng-icon>
            </li>
          </a>

          <a href="#">
            <li>
              Listagem
            </li>
          </a>

          <a href="#">
            <li>
              Cadastrar
            </li>
          </a>
        </article>
      </menu>
    </article>
  </article>
</section>