:host {
  width: 18%;
  height: 750px;

  .sidebar {
    height: 100%;
    margin: 1rem;

    .card {
      width: 100%;
      height: inherit;
      padding: 32px;
      border-radius: 12px;
      background-color: #fff;

      .title {
        margin-bottom: 24px;

        h1 {
          font-size: 14px;
          font-weight: 700;
          text-align: center;
          color: var(--text-title);
        }
      }

      hr {
        width: 65%;
        margin: 0 auto 32px auto;
        border: 1px solid var(--gray-light);
      }

      .menu {
        menu {
          width: 100%;
          list-style-type: none;

          article {
            width: 100%;
            margin-bottom: 24px;

            a {
              li {
                display: flex;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                color: var(--text-title);

                div {
                  ng-icon {
                    position: relative;
                    top: 3px;
                    margin-right: 3px;
                  }

                  .bootstrap-buildings {
                    color: var(--blue-light);
                  }

                  .bootstrap-front {
                    color: var(--orange);
                  }
                }

                ng-icon {
                  position: relative;
                  top: 4px;

                  &.bootstrap-chevron-down {
                    color: var(--gray-darker);
                  }
                }
              }
            }

            &:nth-child(2) {
              h3 {
                font-family: "Roboto";
                font-size: 12px;
                font-weight: 700;
                text-align: left;
                color: var(--gray-dark);
              }
            }

            &:nth-child(3) {
              a {
                &:nth-child(2),
                &:nth-child(3) {
                  li {
                    margin: 24px 0 0 26px;
                  }
                }

                &:nth-child(2) {
                  li {
                    color: var(--blue);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
