::ng-deep .ant-pagination-item {
  border-radius: 50% !important;
  color: var(--text-gray) !important;
  a {
    color: var(--text-gray) !important;
  }
}

::ng-deep .ant-pagination-item-active {
  font-weight: 500;
  background: var(--primary-color) !important;
  border: none !important;

  a {
    color: white !important;
  }
}

.next {
  color: var(--text-gray);
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.prev {
  color: var(--text-gray);
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
}
