<div class="content-img">
 <app-navbar></app-navbar>
    <div class="content-header">
      <h1 class="title">Bem vindo(a)</h1>
      <h2 class="subtitle">Use esse formulário para fazer login</h2>
    </div>
  </div>
<div class="container">
    <div class="content">
      
        <div class="card-container">
            <h2 class="title-form">Área restrita</h2>
            <h3 class="subtitle-form">Digite seu e-mail e senha para entrar</h3>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" formControlName="email" type="email" class="form-control" placeholder="Digite seu E-mail" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Senha</label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="Digite sua senha" />
                    </div>
                    <button type="submit" class="login-button" [disabled]="loginForm.invalid">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer-container">
        <div class="footer-header">
            <div>
                 <a href="#">Política de Privacidade</a>
            </div>
            <div>
                <a href="#">Política de Segurança</a>
            </div>
        </div>
        <div>
            © 2024 AchieveMore - Todos os direitos reservados.
        </div>
    </footer>
  </div>
  
  