<div class="login-page">
  <div class="header-background-image text-white container-fluid text-center">
    <div class="login-header align-self-start row">
      <div clas="col">
        <nav class="navbar header-navbar">
          <div class="header-logo text-sm logo">Vaga Front-end AchieveMore</div>
          <ul class="header-menu menu">
            <li><a class="text-sm text-white" href="#">Institucional</a></li>
            <li><a class="text-sm text-white" href="#">Produtos</a></li>
            <li><a class="text-sm text-white" href="#">Contato</a></li>
            
          </ul>
        </nav>
        
      </div>
    </div>
    
    <div class="row login-wellcome-title">
      <div class="col">
        <h1 class="wellcome-title text-xl">Bem vindo(a)</h1>
        <p class="wellcome-description text-base">Use esse formulário para fazer login</p>
        
      </div>
    </div>
    
    <div class="login-form-container d-flex justify-content-center ">
      
      <div class="card">
        <div class="login-card">
          <h3 class="text-dark text-lg mb-3">Área restrita</h3>
          <p class="login-description">Digite seu e-mail e senha para entrar</p>
          
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label text-sm">E-mail</label>
              <input
                type="email"
                class="form-control"
                placeholder="Digite seu e-mail"
                formControlName="email"
              />
              <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                E-mail inválido
              </div>
            </div>
            
            <div class="mb-3">
              <label class="form-label">Senha</label>
              <input
                type="password"
                class="form-control"
                placeholder="Digite sua senha"
                formControlName="password"
              />
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                Senha é obrigatória
              </div>
            </div>
            
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="forgotPassword"
                formControlName="forgotPassword"
              />
              <label class="form-check-label text-base" for="forgotPassword">Esqueceu a senha</label>
            </div>
            
            <button type="submit" class="btn btn-login text-sm text-white w-100">Entrar</button>
          </form>

        </div>
      </div>
    </div>
    
  </div>
  <div class="footer text-center">
    <div class="footer-links">
      <a class="footer-label-links pointer text-base text-gray">Política de Privacidade</a>
      <a class="footer-label-links pointer text-base text-gray">Política de Segurança</a>  
    </div>
    <div class="row align-items-center">
      <p class="text-sm text-gray">© 2024 AchieveMore - Todos os direitos reservados.</p>
    </div>
  </div>
</div>