.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header-background-image{
    width: auto;
    min-height: 424px;
    border-radius: 15px;
    margin: 0.5%;
    background: linear-gradient(
    124deg,
    rgba(33, 34, 41, 0.6) -1.8%,
    rgba(33, 37, 41, 0.6) 105.23%
    ),
    50% / 100% no-repeat url("../../../assets/background-login-image.jpg");
    background-size: cover;
    background-position: center;
}

.login-header {
    display: flex;
    padding: 0.83vh 0.083vw;
    gap: 1rem;
    border-radius: 12px;
    margin: 0;
    
}
.header-navbar {
    padding: 1rem;
    justify-content: center;
    gap: 1rem;
}
.header-navbar ul {
    margin-top: 0;
}
.header-logo {
    margin-right: 6vw;
    font-weight: 700;
}

.header-menu {
    margin-left: 6vw;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.login-wellcome-title{
    margin: 1vh 0 5vh 0;

}

.wellcome-title{
    text-align: center;
}

.wellcome-description{
    text-align: center;
}

.form-label{
    line-height: 1.192rem;
    color: #172B4D;
}

.form-check-label{
    text-align: left;
    color:#172B4D
    
}

.form-control{
    border: 1px solid #E2E8F0;
    width: 100%;
    height: 4.5vh;
    padding: 0 1vw 0 1vw;
    border-radius: 8px;
}
.card{
    width: 23vw;
    height: 44vh;
    border-radius: 15px;
}
.login-card{
    padding: 10%;
    text-align: left;
}

.login-form-container {
    position: absolute; 
    top: 100;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.login-form-container .card {
    border-radius: 8px; 
}


.btn-login{
    font-weight: 700;
    background: #5E72E4;
    margin-top: 1vh;
    width: 100%;
    height: 4vh;
    padding: 0.55vh 0.83vw 0.55vh 0.83vw;
    border-radius: 8px;
}

.footer{
    margin-top: auto;
    height: auto;
    margin-bottom: 1.5vh;
}

.footer-links{
    justify-self: center;
    margin-bottom: 4vh;
}

.footer-label-links{
    text-align: left;
    margin: 0 1vw;
    margin-bottom: 1rh;
    min-width: 200px;
    padding: 1rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Garante que o modal fique acima de outros elementos */
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-title {
    margin: 0;
    font-size: 1.25rem;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .modal-body {
    margin-top: 10px;
    font-size: 1rem;
  }
  
  /* Animação para o modal */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }

@media only screen and (max-width: 1919px){
    .card{
        height: 48vh;
    }
}
@media only screen and (max-width: 1600px){
    .card{
        height: 52vh;
    }
}