<div class="d-flex dashboard-container">
  <app-sidebar></app-sidebar>

  <div class="flex-grow-1">
    <app-header></app-header>
    
    <div class="content-wrapper d-flex">
      <div class="page-content flex-grow-1">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer row justify-content-between align-items-center">
      <div class="col-auto">
        <p class="text-sm text-gray mb-0">
          © 2024 AchieveMore - Todos os direitos reservados.
        </p>
      </div>
      <div class="col-auto text-end">
        <a class="footer-label-links text-base pointer text-gray me-3">Política de Privacidade</a>
        <a class="footer-label-links text-base pointer text-gray">Política de Segurança</a>  
      </div>
    </div>
  </div>
</div>


