.wrapper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-gray);
    .right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
    &__login {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var(--text-gray);
        .left {
          font-size: 12px;
          font-weight: 300;   
        }
        .right {
            font-size: 14px;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            gap: 38px;
        }
    }
}