<app-pages-login-header />

<main>
  <section>
    <article class="card">
      <article class="title">
        <h1>{{ title }}</h1>
        <h5>{{ subtitle }}</h5>
      </article>

      <article class="form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <article>
            <label for="email">E-mail</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              name="email"
              placeholder="Digite seu email"
            />
          </article>

          <article>
            <label for="password">Senha</label>
            <input
              formControlName="password"
              type="password"
              id="password"
              name="password"
              placeholder="Digite sua senha"
            />
          </article>

          <!-- <article>
            <input
              type="checkbox"
              id="forgot"
              name="forgot"
              checked
            />
            <span class="forgot round"></span>
          </article> -->

          <article>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider round"></span>
            </label>
          </article>


          <article>
            <button type="submit">Entrar</button>
          </article>
        </form>
      </article>
    </article>
  </section>
</main>

<app-pages-login-footer />