<section class="main">
  <nav>
    <ul>
      <article>
        <div>
          <a href="dashboard"><li>Gerenciar /</li></a>
          <a href="dashboard"><li>Usuários</li></a>
        </div>

        <div>
          <ng-icon
            class="bootstrap-textcenter"
            name="bootstrapTextCenter"
            size="24px">
          </ng-icon>
        </div>
      </article>

      <article>
        <div>
          <input
            type="search"
            id="search"
            name="search"
            placeholder="Pesquise aqui..."/>
        </div>

        <div>
          <div>
            <ng-icon
              class="bootstrap-person-fill"
              name="bootstrapPersonFill"
              size="24px">
            </ng-icon>
          </div>

          <div>
            <li>Rodrigo Pereira</li>
          </div>
        </div>

        <div>
          <ng-icon
            class="bootstrap-gear-fill"
            name="bootstrapGearFill"
            size="20px">
          </ng-icon>

          <ng-icon
            class="bootstrap-bell-fill"
            name="bootstrapBellFill"
            size="20px">
          </ng-icon>
        </div>
      </article>
    </ul>
  </nav>
</section>