:host {
  width: 100%;

  menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 100%;
    margin: 16px;

    article {
      display: flex;
      align-items: center;
      width: 100%;

      &:first-child {
        li {
          a {
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            color: #fff;
          }
        }
      }

      &:last-child {
        li {
          &:nth-child(1),
          &:nth-child(2) {
            margin-right: 32px;
          }

          a {
            font-size: 14px;
            font-weight: 400;
            text-align: left;
            color: #fff;
          }
        }
      }

      &:first-child {
        justify-content: space-between;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}
