<div class="wrapper-sidebar">
  <div class="sidebar-logo">
    <a routerLink="/">
      <h1>Vaga Front-end AchieveMore</h1>
    </a>
  </div>
  <ul nz-menu nzMode="inline" class="menu">
    @for (item of menus; track $index) {
    <small class="group-name">{{ item.groupName }}</small>
    <li nz-submenu [nzTitle]="titleTpl">
      <ng-template #titleTpl
        ><span class="icon"><img [src]="item.svgPath" /></span
        ><span>{{ item.name }}</span></ng-template
      >
      <ul>
        @for (item of item.subMenu; track $index) {
        <li nz-menu-item [routerLink]="item.link">{{ item.name }}</li>
        }
      </ul>
    </li>
    }
  </ul>
</div>
