<div class="app-header">
  <div class="header-content">
    <div class="left">
        <app-breadcrumb></app-breadcrumb>
      <span class="header-trigger">
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></span>
      </span>
    </div>

    <div class="right">
      <div class="search">
        <nz-input-group [nzPrefix]="suffixIcon" class="field-search">
          <input type="text" nz-input placeholder="Digite aqui" />
        </nz-input-group>
        <ng-template #suffixIcon>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>

      <div class="email">
        <span nz-icon nzType="user" nzTheme="outline"></span>{{ email }}
      </div>
      <div class="settings">
        <span
          nz-icon
          nz-button
          nz-popover
          nzPopoverTitle="Settings"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottom"
          nzType="setting"
          nzTheme="outline"
        ></span>
      </div>
      <div class="notification">
        <span nz-icon nzType="bell" nzTheme="outline"></span>
      </div>
    </div>
  </div>
</div>
<ng-template #contentTemplate>
  <span class="logout" (click)="logout()">Sair</span>
</ng-template>
