<main class="container-sidebar">
    <div class="w-100" style="width: 280px;">
        <a class="title-sidebar">
          <span>Vaga Front-end AchieveMore</span>
        </a>
        <hr>
        <ul class="sidebar-list-content">
          <li class="">
            <div class="list-item">
                <div class="list-dash">
                    <img src="../../../../assets/icons/dashboard.svg" alt="Dashboard">
                    <button class="btn btn-toggle d-flex align-items-center justify-align-end rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                      Dashboard
                    </button>
                </div>
                <span class="arrow"> 
                    <img src="../../../../assets/icons/arrow.svg" alt="Seta">
                </span>
            </div>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small small-list">
                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded">Overview</a></li>
              </ul>
            </div>
          </li>
          <span class="manager">Gerenciar</span>
          <li class="">
            <div class="list-item">
                <div class="list-user">
                    <img src="../../../../assets/icons/icon-user.svg" alt="Users">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Usuarios
                    </button>
                </div>
                <span class="arrow">
                    <img src="../../../../assets/icons/arrow.svg" alt="Seta">
                </span>
            </div>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small small-list">
                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded item-small">Listagem</a></li>
                <li><a class="link-body-emphasis d-inline-flex text-decoration-none rounded">Cadastrar</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
</main>