
<div class="container-fluid">
  <div class="row">
    <div class="col-2 breadcrumb">
      <div class="breadcrumb-label">
        <span class="text-sm breadcrumb-title-color">
          Gerenciar /
        </span>
        <span class="text-base breadcrumb-subtitle"> Usuários</span>
      </div>
      <div class="breadcrumb-icon">
        <img src="../../../../assets/icons/menu.png" alt="menu" class="icon-menu" />
      </div>
    </div>

    <div class="col-2 right search">
      <div class="input-group input-group-div mb-3">
        <span class="input-group-text"><img src="../../../../assets/icons/search.png" alt="search" class="icons" /></span>
        <input type="text" class="form-control fm-input-icon" placeholder="Digite aqui">
      </div>
    </div>
    
    <!-- <div class="col-2 right search">
      <div class="input-group input-group-sm input-group-div">
        <span class="input-group-text"><img src="../../../../assets/icons/search.png" alt="search" class="icons" /></span>
        <div class="form-floating">
          <input type="text" class="form-control fm-input-icon" id="floatingInputGroup1" placeholder="Username">
          <label for="floatingInputGroup1">Username</label>
        </div>
      </div>
    </div> -->
    
    <div class="col-2 user-menu">
      <span>
        <img src="../../../../assets/icons/user.png" alt="user" class="icons" />
        <label class="text-sm text-white">Rodrigo Perreira</label>
      </span>
      <span>
        <img src="../../../../assets/icons/settings.png" alt="settings" class="icons" />
      </span>
      <span>
        <img src="../../../../assets/icons/notifications.png" alt="notifications" class="icons" />
      </span>
    </div>
    
    
    
  </div>
</div>
