.navbar-dashboard{
    background: none;
}

.breadcrumb {
    justify-content: space-between;
    max-width: 10vw;
    margin-bottom: 0;
    padding: 0 1rem;
}

.breadcrumb-label{
    display: flex;
    flex-direction: column;
}

.breadcrumb-icon{
    align-self: center;
    margin-left: 10;
}

.search{
    align-self: center;
    margin-left: auto;
    max-width: 12.5vw;
    height: 3.8vh;
    padding-right: 0;
    text-align: end;
}

.input-group{
    height: 3.8vh;
}

.icon-menu{
    width: 1.287rem;
    height: 0.625rem;
}

.breadcrumb-title-color{
    color: #FFFFFF80;
}

.breadcrumb-subtitle{
    color: #FFFFFF;
    font-weight: 700;
}

.fm-input-icon{
    border-left: 0;
}
.input-group-text {
    border-right: 0;
}

.input-group-text, .form-control{
    background: #FFFFFF;
}

.user-menu{
    align-self: center;
    max-width: 11.9vw;
    padding-right: 0;
    text-align: end;
}

.user-padding {
    padding: 0 0.5rem;
}