::ng-deep {

    // Card
    .p-card {
        box-shadow: none;
    }

    .p-card-title {
        font-weight: 600;
        font-size: 20px;
        color: #172B4D;
        padding: 20px 20px 0px 20px;
    }

    .p-card-content {
        padding-top: 0;
    }

    .p-card-body {
        padding: 0;
    }

    // Divider
    .divider-mb-0>.p-divider {
        margin-bottom: 0;
    }

    // Table
    .p-datatable-thead>tr>th {
        background-color: transparent;
        font-size: 10px;
        color: #8392AB;
        font-weight: 700;
    }

    .p-datatable-tbody>tr>td {
        font-size: 16px;
        color: #8392AB;
    }
}

.listagem-usuarios {

    #descricao-card {
        font-weight: 400;
        font-size: 14px;
        padding-left: 20px;
    }

    #descricao-por-pagina {
        font-size: 12px;
        color: #8392AB;
        margin-left: 5px;
    }
}

.rodape-table {
    padding: 20px 20px 0 20px;

    #quantidade {
        font-size: 14px;
        color: #8392AB;
    }
}