html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.text-xs {
    font-size: 0.75rem;   
    font-weight: 400;
    line-height: 1.05rem; 
}

.text-sm {
    font-size: 0.875rem;   
    font-weight: 400;
    line-height: 1.313rem; 
}

.text-sm {
    font-size: 0.875rem;   
    font-weight: 400;
    line-height: 1.313rem; 
}

.text-base {
    font-size: 1rem;     
    font-weight: 400;
    line-height: 1.5rem;
}


.text-lg {
    font-size: 1.875rem;  
    font-weight: 700;      
    line-height: 2.569rem; 
    letter-spacing: -0.05rem; 
}


.text-xl {
    font-size: 3rem;      
    font-weight: 700; 
    line-height: 3.75rem;
    letter-spacing: -0.05rem;
}

.text-dark {
    color: #172B4D !important;
}

.text-gray {
    color: #8392AB !important;
}

.text-light-gray{
    color: #8591A4 !important;

}
.text-blue{
    color:#5E72E4 !important;
}

.text-white {
    color: #FFFFFF !important;
}

.bg-primary {
    background-color: #5E72E4 !important;
}

.pointer{
    cursor: pointer;
}

.icons{
    width: 1rem;
    height: 1rem;
}

.dropdown-icon {
    width: 0.796rem;
    height: 0.397rem;
}