/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/menu.scss';


* {
  font-family: "Open Sans";
}

:root {
  --primary-color: #5e72e4;
  --text-gray: #8392ab;
  --text-blue: #172b4d;
}

