<app-pages-dashboard-header />

<main>
  <section>
    <article>
      <h1>Listagem de usuários</h1>
      <h5>Visualização dos usuários cadastrados.</h5>
    </article>

    <hr>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Avatar</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <img
              [src]="user.avatar"
              [alt]="user.first_name">
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</main>

<app-pages-dashboard-footer />